* {
    font-family: sans-serif;
    background-color: azure;
}

#showsContainer {
    display: flex;
    flex-wrap: wrap;
}

.tvserie {
  margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 1px solid black;
    background-color: aquamarine;
}

.sikke {
    background-color: aquamarine;
    padding: 20px;
}

#haku {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

p,h2,a,b {
    background-color: aquamarine;
}